<div class="btn-group-vertical w-100" role="group" aria-label="Categories">
    {% for cat in categories %}
        {% url 'category_page' slug=cat.slug as cat_url %}
        {% if cat.slug == category.slug %}
            <a href="{{ cat_url }}" class="btn btn-dark" aria-current="page">
                {{ cat.name }}
            </a>
        {% else %}
            <a href="{{ cat_url }}" class="btn btn-secondary">
                {{ cat.name }}
            </a>
        {% endif %}
    {% endfor %}
</div>