<div class="">
    <h3 class="pb-4">Reviews</h3>

    <div class="">
        {% for review in reviews %}
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">{{ review.name }}</h5>
                    <p class="card-text">{{ review.text }}</p>
                    <p class="card-text"><small class="text-muted">{{ review.created_at }}</small></p>
                </div>
                {% if review.image %}
                    <img src="{{ review.img }}" class="card-img-bottom" alt="{{ review.name }}">
                {% endif %}
            </div>
        {% empty %}
            <div class="mt-4">
                No one has left a review yet. Will you be the first?
            </div>
        {% endfor %}
    </div>

    <div class="mt-4">
        <a href="{% url 'product_review_create_page' slug=product.slug %}" class="btn btn-primary">
            Add Review
        </a>
    </div>
</div>