{% load catalog.filters %}

<div class="row {% if class %}{{ class }}{% else %}mb-4{% endif %}">
    {% if page_obj|length %}
        {% for product in page_obj %}
            <div class="col-{{ col|default:4 }} mb-4">
                {% include 'catalog/blocks/product-card.html' %}
            </div>
        {% endfor %}
    {% else %}
        <p class="col-12">
            No products found.
        </p>
    {% endif %}

    <div class="col-12">
        {% include 'shop/blocks/pagination.html' %}
    </div>
</div>



