# DB settings
DB_ENGINE=""
DB_NAME=""
DB_USER=""
DB_PASSWORD=""
DB_HOST="db"
DB_PORT=""

# Secret Key
SECRET_KEY=""
IS_PRODUCTION="False"
# Debug mode
DEBUG="True"
# Allowed hosts
ALLOWED_HOSTS="host1,host2,..."
CSRF_TRUSTED_ORIGINS="http://127.0.0.1,http://localhost,https://host1,..."

SITE_DOMAIN="127.0.0.1:8000"

# Email settings
#EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
EMAIL_BACKEND=""
EMAIL_USE_TLS="False"
EMAIL_USE_SSL="False"
DEFAULT_FROM_EMAIL=""
EMAIL_HOST=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
EMAIL_PORT=""

# PayPal
PAYPAL_TEST="True"
PAYPAL_RECEIVER_EMAIL="" # Business Sandbox account

# Celery
CELERY_BROKER_URL=""
CELERY_RESULT_BACKEND=""