{% extends "order/layout/base.html" %}

{% load static %}

{#{% block styles %}#}
{#    <link rel="stylesheet" href="{% static 'order/css/main.css' %}">#}
{#{% endblock %}#}

{% block content %}
    {% include 'order/blocks/shipping-info-readonly.html' %}

    {% include 'order/blocks/billing-info.html' %}

    <p class="text-muted mt-2">
        After placing your order, you will be redirected to the payment system you selected.
    </p>

    <button id="create-order-button" class="btn btn-dark" data-url="{% url 'order_billing_page' %}">Create Order
    </button>
{% endblock %}

{% block scripts %}
    <script src="{% static 'order/js/create_order.js' %}"></script>
{% endblock %}