{% extends "authapp/layout/profile.html" %}

{% load static %}

{% block form %}
    <div class="mb-4">
        <img src="{{ object.img }}" class="preview-img img-thumbnail"
             alt="{{ user.username|default_if_none:'img' }}">
    </div>

    {% include 'shop/blocks/form.html' with action='profile_avatar_page' enctype='multipart/form-data' button='Save' %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'shop/js/image_preview.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            if (typeof imagePreview === 'function') {
                imagePreview({% static '' %});
            }
        })
    </script>
{% endblock %}
