{% extends "authapp/layout/form.html" %}

{% block form %}
    <p class="text-muted mb-4">
        Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
    </p>

    {% include 'authapp/blocks/form.html' with action='reset_password_page' button='Send email' %}

    <div class="mt-4">
        <p class="mb-0 text-muted">
            Remembered your password?
            <a href="{% url 'sign_in_page' %}" class="text-decoration-none">Sign In</a>
        </p>
    </div>

{% endblock %}
