{% extends 'authapp/emails/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h1 class="mb-4">
        Hi{% if user.username %}, {{ user.username }}{% endif %}! 👋
    </h1>

    <p class="mb-2">Please click on the link below to reset your password:</p>
    <a class="btn btn-warning"
       href="http://{{ domain }}{% url 'reset_password_confirm_page' uidb64=uid token=token %}"
    >
        Reset Password
    </a>
    <p class="mt-2">
        Or do nothing if you haven't previously completed the reset password form on the
        <a href="http://{{ domain }}{% url 'shop_page' %}">Cozy Shop</a> website.
    </p>
{% endblock %}