html {
    scrollbar-gutter: stable !important;
}

.form {
    display: flex;

    flex-direction: column;

    gap: 20px;

    padding: 50px 15px;

    > div {
        display: flex;

        flex-direction: column;

        label {
            order: 1;

            font-size: 20px;
            font-weight: 500;
        }

        input,
        textarea {
            order: 2;
        }

        ul {
            order: 3;

            display: flex;

            flex-direction: column;

            padding: 0;
            margin: 7px 0 0 0;

            list-style: none;

            color: orangered;
        }
    }


}