{% extends "./layout/base.html" %}

{% load static %}

{% block main %}
    <div class="row py-4">
        <div class="col-12">
            <div class="card text-bg-dark text-center">
                <div class="w-100" style="height: 70dvh">
                    <img
                            src="{% static 'shop/images/cozy-home.webp' %}"
                            class="card-img w-100"
                            alt="Cozy Home"
                            style="height: 100%; object-fit: cover; object-position: top;">
                </div>
                <div class="card-img-overlay">
                    <h1 class="card-title mt-4">✨ Wellcome to The Cozy Shop ✨</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-12">
            <h2 class="mb-4">Here you will find everything <br>you ever wanted! ☺️</h2>

            {% include 'catalog/blocks/search.html' %}
        </div>
    </div>

{% endblock %}