{% extends "shop/layout/base.html" %}

{% block main %}
    <div class="row pt-4">

        <div class="col-3">
            {% include "catalog/blocks/categories.html" %}
        </div>
        <div class="col-9">
            {% if category.img %}
                <div class="row mb-4">
                    <div class="col-12 h-100">
                        <img src="{{ category.img }}" class="img-fluid" alt="{{ category.name }}"
                             style="height: 200px; width: 100%; object-position: center; object-fit: cover;">
                    </div>
                </div>
            {% endif %}

            {% if category.description %}
                <div class="row mb-4">
                    <div class="col-2"></div>
                    <p class="col-8 text-center">
                        {{ category.description }}
                    </p>
                    <div class="col-2"></div>
                </div>
            {% endif %}

            {% include "catalog/blocks/products.html" %}
        </div>
    </div>

{% endblock %}