{% extends "./layout/base.html" %}

{% block main %}
    <div class="row pt-4">
        <div class="col-3"></div>
        <div class="col-6">
            <a class="mb-4 d-flex align-items-center text-uppercase text-body text-decoration-none fs-4"
               href="{% url 'product_page' slug=product_slug %}">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
                     height="1em"
                     width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
                </svg>

                <p class="m-0 ms-2">Back to Product page</p>
            </a>
            {% if message %}
                <div class="alert alert-success mb-4" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            <h1 class="">{{ page_name }}</h1>

            <form class="form" action="{% url 'product_review_create_page' slug=product_slug %}" method="post"
                  enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}

                <button class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>

{% endblock %}